:root {
    /* Define color scheme */
    --color-gray      : #aaa;
    --color-dark-gray : #777;
    --color-light-gray: #ebebeb;
    --color-link      : #29f991;
}

body {
    background-image : url("../images/Spider-man.png");
    background-repeat: repeat;
    font-family      : "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size  : 18px;
    width      : 960px;
    margin     : auto;
}

.container {
    width: 960px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

h1, h2 {
    color         : var(--color-mint-green);
    font-family   : "Georgia", "Times", "Times New Roman", serif;
    font-weight   : bold;
    letter-spacing: 0.018em;
}

h1 {
    font-size: 1.9em;
}

h2 {
    font-size: 1.5em;
}

p strong, label strong {
    color      : var(--color-text-highlight);
    font-weight: bold;
}

figcaption strong {
    font-weight: bold;
}

* All things related to top pane */
#top_pane {
    background   : var(--color-dark-theme);
    
    border-bottom: 3px solid var(--color-separator);
}

#website_name {
    background-color: var(--color-navy-blue);
    color           : var(--color-dark-theme);
    font-family     : "Georgia", "Times", "Times New Roman", serif;
    font-size       : 1.9em;
    font-weight     : bold;
    letter-spacing  : 0.05em;
    text-align      : center;

    float           : left;
    width           : 240px;         /* 30% of 960px */
    padding         : 30px 20px; /* 4%, 3% of 960px */
}

#website_menu {
    font-size     : 1.4em;
    letter-spacing: 0.05em;

    float         : right;
    padding       : 35px 10px; /* 4%, 2% of 960px */
}

#website_menu a {
    color          : var(--color-text);
    text-decoration: none;

    border-right   : 3px solid var(--color-separator);
    margin         : 0 14px;
    padding-right  : 35px;
}

#website_menu a:hover {
    text-decoration: underline;
}

#website_menu a.last_link {
    border-right : 0;
    padding-right: 13px;
}


/* All things related to the middle pane */
#middle_pane {
    padding: 40px 0 45px 0;
}

.left_pane {
    background-color: var(--color-light-theme);
    box-shadow      : 0 4px  7px 5px blue,
                      0 5px 15px 7px blue;
    
    float           : left;
    width           : 550px;
    margin          : 45px 0;
    padding         : 45px 55px 35px 55px;
}

.left_pane:hover {
    box-shadow: 0 5px  10px  7px rgba(203, 250, 221, 0.6),
                0 7px 25px 15px rgba(203, 250, 209, 0.52);
}

.left_pane h1 {
    margin-bottom : 35px;
    border-bottom : 3px solid var(--color-separator);
    padding-bottom: 25px;
}

